<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--
<p th:text="'Customer, ' + ${id} + '!'" />
<p th:text="|${customer.firstName} ${customer.lastName}|">Lee Carroll</p>
-->
<ul th:each="customer : ${customers}">
  <li th:text="|${customer.firstName} ${customer.firstName}|">
    <a href="customer.html">Lee Carroll</a>
  </li>
</ul>
</body>
</html>
